body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
    
body::-webkit-scrollbar {
display: none;
}


.home .container {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.main-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 130px);
    left: 130px;
    top: 0;
    position: fixed;
}

.description-status {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    margin: 1em;
    /*border: 1px solid rgb(0, 255, 72);*/
    height: calc(100% - 80px - 8rem);

    

}
.description{
    background: var(--background);
    color: var(--color);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding:0.1em
}

.title-box {
    margin: 1em;
    /*border: 1px solid red;*/
}

.description-box {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: calc(100% - 5rem);
    width: calc(100% - 2rem);
    margin: 1rem 9rem 4rem 3.5rem;
    background: var(--background-transparent);
    padding-bottom: 1px;
}



.title-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.shop-button {
    position: fixed;
    top: 40px; 
    right: 20px; 
    z-index: 1000; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #A81826;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.shop-button .icon {
    margin-right: 8px;
    font-size: 20px;
}

.shop-button:hover {
    background-color: #560912;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.shop-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name-box {
    text-align: left;
    padding-left: 2em;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--background);
    width: 12em;
    color: var(--color);
    border-radius: 10px;
    text-align: center;
    margin: -9rem 0rem 3.7rem -3rem; /* Réinitialise les marges */
    align-self: flex-end; /* Facultatif : ajustez si nécessaire */

}





.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.4rem 0.5rem;
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - 80px - 8rem);
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: -70px -10px 4em 10px;
}

.news-icon {
    height: 3.3rem;
}

.titre-tab-new {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
}

.news-list {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin: 1rem 0;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background: var(--background-transparent);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;

}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-block {
    background: var(--background-transparent);
    height: 3em;
    border-radius: 10px;
    cursor: pointer;
}

.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 100%;
    filter: var(--svg-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-list {
    display: flex;
    flex-direction: column;
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--background-transparent);
    position: fixed;
}

.logoRed img {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logoRed {
    width: 100%;
    
}



.player-options {
    border-radius: 15px;
    height: 3em;
}

.sidebar-btn {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3em;
    width: 3em;
    pointer-events: none;
    border-radius: 15px;
    
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.play-instance {
    display: flex;
    justify-content: flex-start; 
    align-items: start;
    position: relative;
    border-radius: 15px;
    height: 3.2rem;
    padding-right: 1.9rem;
    background-color: #A81826;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.play-instance:hover {
    background-color: #560912;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.play-instance:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.play-btn {
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    pointer-events: none;
}

.instance-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: -3;
    top: -2;
    color: var(--element-color);
    font-size: 1rem;
    height: calc(100% - 1px);
    border: solid 3px var(--element-color);
    text-align: center;
    border-radius: 15px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.instance-select:before {
    transform: rotate(270deg);
    pointer-events: none;
}

.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 10px;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--element-color);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--element-color);
    border-radius: 10px;
}

.settings-btn {
    font-size: 3em;
    color: var(--element-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 0.2em;
}

.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.instances-tab p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--background-element);
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-elements:hover {
    background: var(--element-color);
}

.active-instance {
    background: var(--element-color);
}


.icon-settings:before {
    font-family: "Icons";
    content: "\e909";
    color: #ac1e26; /* Couleur par défaut */
  }

  .text-p {
    text-align: left;
  }
